/* Start */
body {
	color:#fff;
	font-family:'Noto Sans KR', sans-serif;
}

/* Header */
nav {
	position:fixed;
	top:0;
	left:0;
	height:120px;
	z-index:70;
	width:100%;
	padding:0;
	margin:0;
	line-height:75px;
}

nav #menu {
	float:right;
}

nav #menu li {
	display:block;
	padding:10px;
	color:#fff;
	font-weight:bold;
	float:left;
}

nav #menu li:first-child {
	position:absolute;
	top:0;
	left:80px;
}

nav #menu li:last-child {
	margin-right:75px;
}

nav #menu li a {
	padding:10px 18px;
	display:block;
	text-decoration:none;
	color:#fff;
}

nav #menu li a:hover {
	color:#24e08e;
	transition:all 0.8s ease;
}

nav #menu li a img {
	width:85%;
	padding:15px 0;
}


/* Subject */
h1 {
	font-size:2.5em;
	font-weight:bolder;
	font-style:italic;
	text-align:center;
	letter-spacing:2px;
}

.section {
	text-align:center;
	padding-top:20px;
}


/* Home */
#section0 h1 {
	font-style:normal;
	font-size:36px;
	font-weight:900;
	letter-spacing:5px;
	text-transform:uppercase;
}

.ani {
	position:absolute;
	z-index:-100;
	width:600px;
	top:12%;
	left:30.2%;
}


/* About */
h2 {
	font-size:40px;
	font-weight:bold;
	letter-spacing:2px;
	margin-top:20px;
	color:#24e08e;
}

h3 {
	font-size:16px;
	font-weight:300;
	letter-spacing:1px;
	margin-top:80px;
}

.it {
	font-size:14px;
	font-weight:100;
	line-height:24px;
	text-align:justify;
	letter-spacing:1px;
	margin-top:80px;
	color:#d6d6d6;
}

.left {
	float:left;
	width:310px;
	margin-left:420px;
}

.right {
	float:right;
	width:310px;
	margin-right:420px;
}


/* Video */
#section2 {
	padding-top:40px;
}

.video {
	text-align:center;
	margin-top:40px;
}


/* Guide */
.guide-list {
	display:block;
	width:80%;
	margin:0 auto;
	margin-top:80px;
}

.guide-list li {
	display:block;
	width:25%;
	float:left;
}

.guide-list li img {
	width:70%;
}

.guide-list li span {
	display:block;
	font-size:18px;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-top:50px;
}

.guide-list li span:last-child {
	margin-top:20px;
	font-size:14px;
	font-weight:100;
	line-height:20px;
	text-transform:capitalize;
	opacity:0.9;
}


/* Team */
.team-list {
	display:block;
	width:80%;
	margin:0 auto;
	margin-top:80px;
}

.team-list li {
	display:block;
	width:25%;
	float:left;
}

.team-list li img {
	width:70%;
	margin-bottom:50px;
}

.team-list li span {
	display:block;
	font-size:18px;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-top:50px;
}

.team-list li span:last-child {
	margin-top:10px;
	font-size:14px;
	font-weight:100;
	text-transform:capitalize;
	opacity:0.8;
}

.imgWrap1 {
	background-image:url("../img/star_baek.png");
	background-size:cover;
	width:215px;
	height:215px;
	margin:auto;
	-webkit-transition:background-image 1s ease;
  	-moz-transition:background-image 1s ease;
  	-ms-transition:background-image 1s ease;
  	-o-transition:background-image 1s ease;
  	transition:background-image 1s ease;
}

.imgWrap1:hover {
	background-image:url("../img/person_baek.png");
	-webkit-transition:background-image 1s ease;
  	-moz-transition:background-image 1s ease;
  	-ms-transition:background-image 1s ease;
  	-o-transition:background-image 1s ease;
  	transition:background-image 1s ease;
}

.imgWrap2 {
	background-image:url("../img/star_no.png");
	background-size:cover;
	width:215px;
	height:215px;
	margin:auto;
	-webkit-transition:background-image 1s ease;
  	-moz-transition:background-image 1s ease;
  	-ms-transition:background-image 1s ease;
  	-o-transition:background-image 1s ease;
  	transition:background-image 1s ease;
}

.imgWrap2:hover {
	background-image:url("../img/person_no.png");
	-webkit-transition:background-image 1s ease;
  	-moz-transition:background-image 1s ease;
  	-ms-transition:background-image 1s ease;
  	-o-transition:background-image 1s ease;
  	transition:background-image 1s ease;
}

.imgWrap3 {
	background-image:url("../img/star_park.png");
	background-size:cover;
	width:215px;
	height:215px;
	margin:auto;
	-webkit-transition:background-image 1s ease;
  	-moz-transition:background-image 1s ease;
  	-ms-transition:background-image 1s ease;
  	-o-transition:background-image 1s ease;
  	transition:background-image 1s ease;
}

.imgWrap3:hover {
	background-image:url("../img/person_park.png");
	-webkit-transition:background-image 1s ease;
  	-moz-transition:background-image 1s ease;
  	-ms-transition:background-image 1s ease;
  	-o-transition:background-image 1s ease;
  	transition:background-image 1s ease;
}

.imgWrap4 {
	background-image:url("../img/star_kim.png");
	background-size:cover;
	width:215px;
	height:215px;
	margin:auto;
	-webkit-transition:background-image 1s ease;
  	-moz-transition:background-image 1s ease;
  	-ms-transition:background-image 1s ease;
  	-o-transition:background-image 1s ease;
  	transition:background-image 1s ease;
}

.imgWrap4:hover {
	background-image:url("../img/person_kim.png");
	-webkit-transition:background-image 1s ease;
  	-moz-transition:background-image 1s ease;
  	-ms-transition:background-image 1s ease;
  	-o-transition:background-image 1s ease;
  	transition:background-image 1s ease;
}
