body {
	color:#fff;
	font-family:'Noto Sans', sans-serif;
	font-family:'Noto Sans KR', sans-serif;
}

nav {
	position:fixed;
	top:0;
	left:0;
	height:120px;
	z-index:70;
	width:100%;
	padding:0;
	margin:0;
	line-height:75px;
}

nav #menu {
	float:right;
}

nav #menu li {
	display:block;
	padding:10px;
	color:#fff;
	font-weight:bold;
	float:left;
}

nav #menu li:first-child {
	position:absolute;
	top:0;
	left:80px;
}

nav #menu li:last-child {
	margin-right:75px;
}

nav #menu li a {
	padding:10px 18px;
	display:block;
	text-decoration:none;
	color:#fff;
}

nav #menu li a:hover {
	color:#24e08e;
	transition:all 0.8s ease;
}

nav #menu li a img {
	width:85%;
	padding:15px 0;
}

h1 {
	font-size:3em;
	font-weight:bolder;
	font-style:italic;
	text-align:left;
	letter-spacing:2px;
	margin-left:100px;
}

p {
	font-size:2em;
}

.section {
	text-align:center;
	padding-top:40px;
}

.video {
	text-align:center;
	margin-top:40px;
}
